{
  "presets": [
    ["@babel/env", {
      "modules": false
    }]
  ],

  "plugins": [ // es6 build
    // "@babel/syntax-object-rest-spread",
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/transform-runtime", {
      "useESModules": true
    }]
  ],

  "env": {
    "cjs": {
      "presets": [
        ["@babel/env", {
          "modules": "commonjs"
        }]
      ],
      "plugins": [
        // "add-module-exports"
      ]
    },
    "development": {
      "presets": [
        ["@babel/env", {
          "modules": "commonjs"
        }]
      ],
      "plugins": [
        // "add-module-exports"
      ]
    },
    "production": {
      "presets": [
        ["@babel/env", {
          "modules": "commonjs"
        }]
      ],
      "plugins": [
        // "add-module-exports"
      ]
    },
    "test": {
      "presets": [
        ["@babel/env", {
          "useBuiltIns": true,
          "modules": "commonjs"
        }]
      ],
      "plugins": [
        // "add-module-exports",
        // ["istanbul", {
        //   "exclude": [
        //     "**/*.spec.js",
        //     "**/node.js"
        //   ]
        // }]
      ]
    }
  }
}
