{
  "presets": [
    ["env", {
      "modules": false
    }]
  ],

  "plugins": [
    "syntax-object-rest-spread",
    "transform-object-rest-spread"
  ],

  "env": {
    "cjs": {
      "presets": [
        ["env", {
          "modules": "commonjs"
        }]
      ],
      "plugins": [
        "add-module-exports"
      ]
    },
    "development": {
      "presets": [
        ["env", {
          "modules": "commonjs"
        }]
      ],
      "plugins": [
        "add-module-exports"
      ]
    },
    "production": {
      "presets": [
        ["env", {
          "modules": "commonjs"
        }]
      ],
      "plugins": [
        "add-module-exports"
      ]
    },
    "test": {
      "presets": [
        ["env", {
          "modules": "commonjs"
        }]
      ],
      "plugins": [
        "transform-runtime",
        ["istanbul", {
          "exclude": [
            "**/*.spec.js",
            "**/node.js"
          ]
        }]
      ]
    }
  }
}
