{
  "extends": [
    "eslint:recommended"
  ],

  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },

  "rules": {
    "indent": [2, 2, {"SwitchCase": 1}],
    "quotes": [1, "single", "avoid-escape"],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
    "no-underscore-dangle": 0,
    "eqeqeq": [2, "smart"],
    "no-unused-expressions": 0,
    "new-cap" : 0,
    "no-mixed-requires": 0,
    "camelcase": [2, {"properties": "never"}],
    "no-use-before-define": [2, "nofunc"]
  },

  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },

  "overrides": [
    {
      "files": ["src/**/*.js"],
      "excludedFiles": ["src/**/__tests__/**"],
      "extends": [
        "eslint:recommended",
        "plugin:compat/recommended"
      ],
      "rules": {
        "no-restricted-syntax": ["error", "ForOfStatement", "ArrayPattern"],
        "compat/compat": ["error", "defaults, not ie < 10, not node < 6"]
      },
      "parserOptions": {
        "ecmaVersion": 2015,
        "sourceType": "module"
      }
    }
  ],

  "settings": {
    "polyfills": [
      "Promise" // required as a polyfill by the user
    ]
  }
}
