.idea
.DS_Store
**/npm-debug.log
/.idea
/.sonar
*~
**/node_modules
*.swp
/.vscode

## local environment setup
/startup.sh

## coverage info
/karma/coverage

## stats info
/stats

## transpiled code
#until we have a pipeline in place we will need to comment out this
#/umd
/lib
/es


## TS tests compilated files
/ts-tests/*.js
/ts-tests/package-lock.json
