.idea
.DS_Store
**/npm-debug.log
/.idea
/.sonar
*~
**/node_modules
*.swp
/.vscode
dump.rdb

## local environment setup
/startup.sh

## coverage info
/karma/coverage

## stats info
/stats

## transpiled code
/cjs
/esm
/umd

## TS tests compilated files
/ts-tests/*.js
/ts-tests/package-lock.json

.yalc/
yalc.lock