.idea
.DS_Store
**/npm-debug.log
/.idea
/.sonar
*~
**/node_modules
*.swp
/.vscode

## local environment setup
/startup.sh

## coverage info
/karma/coverage

## transpiled code
/lib
/es
/umd

## TS tests compilated files
/ts-tests/*.js
